.white {
    background-color: @light_1;
    border: 1px solid @borders;
}

.yellow {
    background-color: @yellow_3;
    border: 1px solid @borders;
}

.blue {
    background-color: @blue_3;
    border: 1px solid @borders;
}

.red {
    background-color: @red_3;
    border: 1px solid @borders;
}

.orange {
    background-color: @orange_3;
    border: 1px solid @borders;
    
}

.purple {
    background-color: @purple_3;
    border: 1px solid @borders;
}

.green {
    background-color: @green_3;
    border: 1px solid @borders;
}

.black {
    background-color: @dark_5;
    border: 1px solid @borders;
}
